# MySQL Database Config
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQL_DATABASE=tnl_dev
MYSQLUSER=root
MYSQLPASSWORD=your_password_here

# JWT Signing Secret (Minimum 256 bits / 32 bytes)
JWT_SECRET=your-super-secret-key-that-needs-to-be-at-least-256-bits-long-tnl-logistics
